.headingText{
    font-style: italic;
    text-align: center;
}
.jumbotron{
    box-shadow: 5px 10px 18px #888888;
}
.iconPerson {
    background: url('./transparent/avatar.svg');
    height: 40px;
    width: 40px;
    display: block;

    /* left: 70%; */
    /* Other styles here */
}
    /* left: 70%; */
    /* Other styles here */

.Person{
   position: relative;
    /* border: 0.05rem solid black; */
    /* box-shadow: 5px 10px 18px #888888; */
    background-color:  rgb(232, 240, 238);
    height: 3rem;
    box-shadow: 5px 10px 40px #888888;
    /* width: 2.5rem; */
    /* height: 3rem; */
    /* float: right; */
    text-align: center;
    
    
    
}


.Person:active{
    
    /* border: 0.05rem solid black; */
    /* box-shadow: 5px 10px 18px #888888; */
    background-color:  rgb(232, 240, 238);
    height: 3rem;
    box-shadow: 5px 10px 40px #888888;


    /* -ms-transform: rotate(20deg); /* IE 9 */
    /* -webkit-transform: rotate(20deg); /* Safari 3-8 */
    /* transform: rotate(20deg); */ 
}
/* .Person:active{
    position: relative;
    border-radius: 2rem;
    
    color: #6d6868;
   
} */
.iconBox{
    width: 2.6rem;
    border-radius: 0.7rem;
    
}
.iconBox:active{
    width: 2.6rem;
    border: 0.04rem solid black;
    border-radius: 0.7rem;
    box-shadow: 5px 10px 40px #888888;
}